/* The style for the container*/
.card-space {
  width: 40%;
  margin: 0 auto;
  padding: 20px 0 20px 0px;
  text-decoration: none;
}

.card-space .card-remove-decoration {
  text-decoration: none;
  color: black;
}
.JobContainer-loadButon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.JobContainer-loadButton {
  font-family: inherit;
  background-color: #0f52ba;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  padding: 5px 30px;
}

.container-serachNotFound {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
/* Ultra small devices Example: Custom, iPhone Retina */
@media (min-width: 320px) {
  .card-space {
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-space {
    width: 80%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-space {
    width: 60%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-space {
    width: 50%;
  }
}

/*The style for the laptop devices up to 1200px*/
@media (min-width: 1200px) {
  .card-space {
    width: 50%;
  }
}
