/*This is the style to wrap and center the form*/
.post-job-form-container {
  /* margin-top: 100px; */
  padding-top: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

.post-job-form-container form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
}

/*The style fot the input and text area*/
.post-job-form input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.post-job-form-container input[type="submit"]:hover {
  background-color: #99badd;
}

/* input[type="submit"]:hover {
  background-color: #45a049;
} */
