/* This is the style of the job card container*/
.job-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 80px;
}

.job-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.job-card-information {
  padding: 2px 16px;
}

/* The style of the job title and date on
 the job card*/
.job-card-sameLineInfo {
  display: flex;
  justify-content: space-between;
}
