/* The top and bottom sections of the Main page*/
.container-mainPage {
  display: flex;
  flex-direction: column;
}

/* The style of the top section*/
.top-mainPage {
  display: flex;
  flex-direction: column;
  height: 45vh;
  background-image: url(../images/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-mainpage,
.btn-mainpage-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;
  padding: 10px 10px 0 0;
}

.btn-mainpage-bottom {
  display: none;
}
/* Style of the button on the top section */
.button-main-page {
  font-family: inherit;
  background-color: white;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 59px;
}

.display-nav {
  position: fixed;
  display: none;
}

.floppyer-mainpage {
  font-family: "Baloo Bhai", cursive;
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 15px;
}

.floppyer-mainpage > span {
  cursor: pointer;
}

.floppyer-text {
  font-size: 16px;
  margin: 0;
}

/*Wrapper to center the container of the 
 searcg box*/
.searchBox-mainPage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

/* After wrapping the component, choose the width*/
.searchBox-mainPage-container {
  width: 40%;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .searchBox-mainPage-container {
    width: 50%;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .searchBox-mainPage-container {
    width: 60%;
  }

  .top-mainPage {
    height: 50vh;
  }
}

/* Targeting landscape devices such as Pixel2XL*/
@media (max-width: 991.98px) and (orientation: landscape) {
  .top-mainPage {
    height: 70vh;
  }

  .floppyer-mainpage {
    font-size: 40px;
  }

  .floppyer-text {
    font-size: 12px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .btn-mainpage {
    display: none;
  }

  .btn-mainpage-bottom {
    display: flex;
    align-items: center;
    padding: 20px 0px 0px 0px;
  }

  .searchBox-mainPage-container {
    width: 80%;
  }

  .searchBox-mainPage-wrapper {
    padding: 0;
  }
  .floppyer-mainpage {
    font-size: 30px;
  }

  .floppyer-text {
    font-size: 12px;
  }

  .top-mainPage {
    height: 70vh;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .top-mainPage {
    height: 40vh;
  }

  .searchBox-mainPage-wrapper {
    padding: 10px;
  }

  .floppyer-mainpage > p {
    padding: 0px 5px;
  }
}
/* Targeting landscape devices such as Pixel2XL*/
@media (max-width: 575.98px) and (orientation: landscape) {
  .top-mainPage {
    height: 70vh;
  }
}

/* Ultra small devices Example: Custom, iPhone Retina */
@media (max-width: 320px) {
  .top-mainPage {
    height: 50vh;
  }
}
