/*The styel for the nabvigation bar*/
.navBar-wrapper {
  display: flex;
  position: fixed;
  top: 0;
}
.navigation-bar {
  display: flex;
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: #6495ed;
  justify-content: space-between;
}

.navbar-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-right: 10px;
}

.navbar-floppyer {
  display: flex;
  font-family: "Baloo Bhai", cursive;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-decoration: none;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
}

/*
* Wrapper for the options when the hamburger
* icon is clicked.
*/

.navbar-ham-btn-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}
.navbar-mobile-button {
  display: none;
  border: none;
  height: 60px;
  width: 60px;
  background: url(../images/hamburguer-white-icon.svg) no-repeat;
  background-size: 60px 60px;
}

/* Hide the options of the hambuger icon*/
.navbar-mobile-button-options {
  display: none;
}

.navbar-mobile-btn-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 60px;
  background-color: #99badd;
}

.navbar-mobile-btn-wrapper a {
  text-decoration: none;
  color: white;
  font-family: "Baloo Bhai", cursive;
  margin-left: 5px;
  font-size: 25px;
}

.navbar-mobile-btn-wrapper:hover {
  background-color: #6495ed;
}

/* Hide the dropdown option*/
@media (min-width: 993px) {
  .navbar-mobile-button-options div {
    display: none;
  }
}
/*The style for laptop devices 992px ann less*/
@media (max-width: 992px) {
  .navBar-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #0f52ba;
    width: 100%;
    position: fixed;
  }
  .navigation-bar {
    /* justify-content: space-between; */
    /* margin: 10px; */
    /*Reset past values*/
    width: auto;
    position: static;
    background-image: none;
  }

  /* Display the hamburger btn wrapper*/
  .navbar-ham-btn-wrapper {
    display: flex;
  }

  /* Display the hamburger icon btn*/
  .navbar-mobile-button {
    display: flex;
  }

  /* Remove the "post" button */
  .navbar-btn-wrapper {
    display: none;
  }
}
