/* This is the style of the form wrapping the 
   search bar */
.form-container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  border-radius: 59px;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
}
/* The style of the search bar */
.search-box {
  width: 90%;
  box-sizing: border-box;
  border: 2px solid #dddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
}

.search-box-icon {
  width: 10%;
  border: none;
  background-color: #dddd;
  border-radius: 4px;
  background-image: url("../images/search-icon.svg");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .form-container {
    padding: 0;
  }
}

/* Ultra small devices Example: Custom, iPhone Retina */
@media (max-width: 425px) {
  .search-box {
    width: 80%;
  }

  .search-box-icon {
    width: 20%;
  }
}
